@import '../../scss/base/grid',
        '../../scss/helpers/vars';

.radioSearch {
  display: flex;
  align-items: center;
  color: $c-white;

  @media screen and (min-width: $md-media) {
    margin-top: -33px;
  }

  &__title {
    margin-right: 10px;
  }

  &__label {
    display: inline-block;
    padding: 7px 15px;
    font-size: 0.8rem;
    background-color: $c-dark3;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  input {
    display: none;

    &:checked + label {
      background-color: $c-primary;
    }
    
  }
}