@import '../../scss/base/grid',
        '../../scss/helpers/vars';

.container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: $md-media) {
    width: $md-content;
    padding: 0;
  }

  @media screen and (min-width: $lg-media) {
    width: $lg-content;
  }

  @media screen and (min-width: $xl-media) {
    width: $xl-content;
  }
}

.footer {
  padding: 20px 0;
  height: 60px;
  background-color: $c-dark;

  &__logo {
    display: inline-block;
    font-size: 1.3rem;
    color: $c-primary;
    font-weight: bold;
  }
}